<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Клиенты и Партнеры</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="16x16" href="../img/logo.png">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/gray.min.css">
    <link rel="stylesheet" href="../css/clients-and-partners.css">
</head>

<body>

    <header class="header" id="header">
        <div class="container">
            <div class="header__top">
                <div class="header__top-logo">
                    <a href="index.html" class="img">
                        <img src="../img/logo.png" alt="logotype">
                    </a>
                    <p class="slog">Технологии защиты данных</p>
                </div>
                <div class="header__top-phone">
                    <i class="icon-icon1"></i>
                    <a href="tel:+74993481980">+7 (499) 348-19-80</a>
                </div>
                <a href="javascript:void(0)" class="header__top-btn open-requestCall">Заказать звонок</a>
            </div>
        </div>
        <div class="header__bottom">
            <div class="header__bottom-menu">
                <!--Mobile menu hamburger-->
                <button class="toggle-menu">
                    <span class="hamburger">
                    <span class="sw-topper"></span>
                    <span class="sw-bottom"></span>
                    <span class="sw-footer"></span>
                    </span>
                </button>
                <!--End mobile menu hamburger-->
                <nav class="mainMenu" id="mainMenu">
                    <ul>
                        <li>
                            <a href="index.html">Главная</a>
                        </li>
                        <li>
                            <a href="services.html">Услуги</a>
                        </li>
                        <li>
                            <a href="clients-and-partners.html">Клиенты и Партнеры</a>
                        </li>
                        <li>
                            <a href="press-releases.html">Пресс-релизы</a>
                        </li>
                        <li>
                            <a href="contacts.html">Контакты</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="header__bottom-search">
                <form class="form-search">
                    <input name="search" class="search-query" type="text" placeholder="Поиск...">
                    <button class="button"><i class="icon-icon12"></i></button>
                </form>
            </div>
        </div>
    </header>

    <section class="banner">
        <div class="container">
            <div class="bread-crumbs">
                <ul>
                    <li><a href="index.html">Главная</a></li>
                    <li><span>Клиенты и Партнеры</span></li>
                </ul>
            </div>
            <h1 class="banner__heading">Клиенты и Партнеры</h1>
            <p class="banner__subtitle">Логотипы некоторых из наших клиентов</p>
        </div>
    </section>

    <section class="clients" id="clients">
        <div class="container">
            <h2 class="heading"><span>Наши</span> клиенты</h2>
            <div class="clients__wrapper">
                <a href="javascript:void(0)" class="clients__wrapper-item">
                    <img class="grayscale grayscale-fade" src="../img/clients/Active_TELECOM.png" alt="image">
                </a>
                <a href="javascript:void(0)" class="clients__wrapper-item">
                    <img class="grayscale grayscale-fade" src="../img/clients/aeroclub.png" alt="image">
                </a>
                <a href="javascript:void(0)" class="clients__wrapper-item">
                    <img class="grayscale grayscale-fade" src="../img/clients/akbarsbank.png" alt="image">
                </a>
                <a href="javascript:void(0)" class="clients__wrapper-item">
                    <img class="grayscale grayscale-fade" src="../img/clients/Astronis.png" alt="image">
                </a>
                <a href="javascript:void(0)" class="clients__wrapper-item">
                    <img class="grayscale grayscale-fade" src="../img/clients/bank_of_china.png" alt="image">
                </a>
                <a href="javascript:void(0)" class="clients__wrapper-item">
                    <img class="grayscale grayscale-fade" src="../img/clients/bank_derzhava.png" alt="image">
                </a>
                <a href="javascript:void(0)" class="clients__wrapper-item">
                    <img class="grayscale grayscale-fade" src="../img/clients/bkf.png" alt="image">
                </a>
                <a href="javascript:void(0)" class="clients__wrapper-item">
                    <img class="grayscale grayscale-fade" src="../img/clients/brt_bank.png" alt="image">
                </a>
                <a href="javascript:void(0)" class="clients__wrapper-item">
                    <img class="grayscale grayscale-fade" src="../img/clients/cit.png" alt="image">
                </a>
                <a href="javascript:void(0)" class="clients__wrapper-item">
                    <img class="grayscale grayscale-fade" src="../img/clients/compasplus.png" alt="image">
                </a>
                <a href="javascript:void(0)" class="clients__wrapper-item">
                    <img class="grayscale grayscale-fade" src="../img/clients/computel.png" alt="image">
                </a>
                <a href="javascript:void(0)" class="clients__wrapper-item">
                    <img class="grayscale grayscale-fade" src="../img/clients/con_certeza.png" alt="image">
                </a>
                <a href="javascript:void(0)" class="clients__wrapper-item">
                    <img class="grayscale grayscale-fade" src="../img/clients/Credit_Suisse.png" alt="image">
                </a>
                <a href="javascript:void(0)" class="clients__wrapper-item">
                    <img class="grayscale grayscale-fade" src="../img/clients/derzhava.png" alt="image">
                </a>
                <a href="javascript:void(0)" class="clients__wrapper-item">
                    <img class="grayscale grayscale-fade" src="../img/clients/expertsender.png" alt="image">
                </a>
                <a href="javascript:void(0)" class="clients__wrapper-item">
                    <img class="grayscale grayscale-fade" src="../img/clients/finprombank.png" alt="image">
                </a>
                <a href="javascript:void(0)" class="clients__wrapper-item">
                    <img class="grayscale grayscale-fade" src="../img/clients/foodcard.png" alt="image">
                </a>
                <a href="javascript:void(0)" class="clients__wrapper-item">
                    <img class="grayscale grayscale-fade" src="../img/clients/garant_invest.png" alt="image">
                </a>
                <a href="javascript:void(0)" class="clients__wrapper-item">
                    <img class="grayscale grayscale-fade" src="../img/clients/genbank.png" alt="image">
                </a>
                <a href="javascript:void(0)" class="clients__wrapper-item">
                    <img class="grayscale grayscale-fade" src="../img/clients/globus.png" alt="image">
                </a>
                <a href="javascript:void(0)" class="clients__wrapper-item">
                    <img class="grayscale grayscale-fade" src="../img/clients/golife.png" alt="image">
                </a>
                <a href="javascript:void(0)" class="clients__wrapper-item">
                    <img class="grayscale grayscale-fade" src="../img/clients/inpas.png" alt="image">
                </a>
                <a href="javascript:void(0)" class="clients__wrapper-item">
                    <img class="grayscale grayscale-fade" src="../img/clients/intercommerc.png" alt="image">
                </a>
                <a href="javascript:void(0)" class="clients__wrapper-item">
                    <img class="grayscale grayscale-fade" src="../img/clients/irs_bank.png" alt="image">
                </a>
                <a href="javascript:void(0)" class="clients__wrapper-item">
                    <img class="grayscale grayscale-fade" src="../img/clients/ism.png" alt="image">
                </a>
                <a href="javascript:void(0)" class="clients__wrapper-item">
                    <img class="grayscale grayscale-fade" src="../img/clients/itb_bank.png" alt="image">
                </a>
                <a href="javascript:void(0)" class="clients__wrapper-item">
                    <img class="grayscale grayscale-fade" src="../img/clients/itmivt.png" alt="image">
                </a>
                <a href="javascript:void(0)" class="clients__wrapper-item">
                    <img class="grayscale grayscale-fade" src="../img/clients/izzzio.png" alt="image">
                </a>
                <a href="javascript:void(0)" class="clients__wrapper-item">
                    <img class="grayscale grayscale-fade" src="../img/clients/kolomna_svyaz_tv.png" alt="image">
                </a>
                <a href="javascript:void(0)" class="clients__wrapper-item">
                    <img class="grayscale grayscale-fade" src="../img/clients/krk_bank.png" alt="image">
                </a>
                <a href="javascript:void(0)" class="clients__wrapper-item">
                    <img class="grayscale grayscale-fade" src="../img/clients/luhta.png" alt="image">
                </a>
                <a href="javascript:void(0)" class="clients__wrapper-item">
                    <img class="grayscale grayscale-fade" src="../img/clients/m_bank.png" alt="image">
                </a>
                <a href="javascript:void(0)" class="clients__wrapper-item">
                    <img class="grayscale grayscale-fade" src="../img/clients/mast_bank.png" alt="image">
                </a>
                <a href="javascript:void(0)" class="clients__wrapper-item">
                    <img class="grayscale grayscale-fade" src="../img/clients/Maxxium.png" alt="image">
                </a>
                <a href="javascript:void(0)" class="clients__wrapper-item">
                    <img class="grayscale grayscale-fade" src="../img/clients/mcfr.png" alt="image">
                </a>
                <a href="javascript:void(0)" class="clients__wrapper-item">
                    <img class="grayscale grayscale-fade" src="../img/clients/mcrm.png" alt="image">
                </a>
                <a href="javascript:void(0)" class="clients__wrapper-item">
                    <img class="grayscale grayscale-fade" src="../img/clients/medray.png" alt="image">
                </a>
                <a href="javascript:void(0)" class="clients__wrapper-item">
                    <img class="grayscale grayscale-fade" src="../img/clients/msnk.png" alt="image">
                </a>
                <a href="javascript:void(0)" class="clients__wrapper-item">
                    <img class="grayscale grayscale-fade" src="../img/clients/nbbank.png" alt="image">
                </a>
                <a href="javascript:void(0)" class="clients__wrapper-item">
                    <img class="grayscale grayscale-fade" src="../img/clients/nbs_ivanovo.png" alt="image">
                </a>
                <a href="javascript:void(0)" class="clients__wrapper-item">
                    <img class="grayscale grayscale-fade" src="../img/clients/neklisbank.png" alt="image">
                </a>
                <a href="javascript:void(0)" class="clients__wrapper-item">
                    <img class="grayscale grayscale-fade" src="../img/clients/newathena.png" alt="image">
                </a>
                <a href="javascript:void(0)" class="clients__wrapper-item">
                    <img class="grayscale grayscale-fade" src="../img/clients/nicotech.png" alt="image">
                </a>
                <a href="javascript:void(0)" class="clients__wrapper-item">
                    <img class="grayscale grayscale-fade" src="../img/clients/novahovcb.png" alt="image">
                </a>
                <a href="javascript:void(0)" class="clients__wrapper-item">
                    <img class="grayscale grayscale-fade" src="../img/clients/okbanck.png" alt="image">
                </a>
                <a href="javascript:void(0)" class="clients__wrapper-item">
                    <img class="grayscale grayscale-fade" src="../img/clients/petrolplus.png" alt="image">
                </a>
                <a href="javascript:void(0)" class="clients__wrapper-item">
                    <img class="grayscale grayscale-fade" src="../img/clients/premer-kredit.png" alt="image">
                </a>
                <a href="javascript:void(0)" class="clients__wrapper-item">
                    <img class="grayscale grayscale-fade" src="../img/clients/ProgramBank.jpg" alt="image">
                </a>
                <a href="javascript:void(0)" class="clients__wrapper-item">
                    <img class="grayscale grayscale-fade" src="../img/clients/rambler.jpg" alt="image">
                </a>
                <a href="javascript:void(0)" class="clients__wrapper-item">
                    <img class="grayscale grayscale-fade" src="../img/clients/remoto.jpg" alt="image">
                </a>
                <a href="javascript:void(0)" class="clients__wrapper-item">
                    <img class="grayscale grayscale-fade" src="../img/clients/renta-bank.jpg" alt="image">
                </a>
                <a href="javascript:void(0)" class="clients__wrapper-item">
                    <img class="grayscale grayscale-fade" src="../img/clients/resocreditbank.png" alt="image">
                </a>
                <a href="javascript:void(0)" class="clients__wrapper-item">
                    <img class="grayscale grayscale-fade" src="../img/clients/rfi-bank.png" alt="image">
                </a>
                <a href="javascript:void(0)" class="clients__wrapper-item">
                    <img class="grayscale grayscale-fade" src="../img/clients/RGGU.jpg" alt="image">
                </a>
                <a href="javascript:void(0)" class="clients__wrapper-item">
                    <img class="grayscale grayscale-fade" src="../img/clients/rnf.jpg" alt="image">
                </a>
                <a href="javascript:void(0)" class="clients__wrapper-item">
                    <img class="grayscale grayscale-fade" src="../img/clients/rosan.png" alt="image">
                </a>
                <a href="javascript:void(0)" class="clients__wrapper-item">
                    <img class="grayscale grayscale-fade" src="../img/clients/rosbiznesbank.png" alt="image">
                </a>
                <a href="javascript:void(0)" class="clients__wrapper-item">
                    <img class="grayscale grayscale-fade" src="../img/clients/rosprom.jpg" alt="image">
                </a>
                <a href="javascript:void(0)" class="clients__wrapper-item">
                    <img class="grayscale grayscale-fade" src="../img/clients/rosreestr.jpg" alt="image">
                </a>
                <a href="javascript:void(0)" class="clients__wrapper-item">
                    <img class="grayscale grayscale-fade" src="../img/clients/rostelecom.jpg" alt="image">
                </a>
            </div>
            <a href="javascript:void(0)" class="link goTo">Просмотреть все</a>
        </div>
    </section>

    <section class="partners">
        <div class="container">
            <h2 class="heading"><span>Наши</span> партнеры</h2>
            <div class="partners__wrapper">
                <a href="javascript:void(0)" class="partners__wrapper-item">
                    <img src="../img/partners/partner1.png" alt="partner">
                </a>
                <a href="javascript:void(0)" class="partners__wrapper-item">
                    <img src="../img/partners/partner2.png" alt="partner">
                </a>
                <a href="javascript:void(0)" class="partners__wrapper-item">
                    <img src="../img/partners/partner3.png" alt="partner">
                </a>
                <a href="javascript:void(0)" class="partners__wrapper-item">
                    <img src="../img/partners/partner4.png" alt="partner">
                </a>
                <a href="javascript:void(0)" class="partners__wrapper-item">
                    <img src="../img/partners/partner5.png" alt="partner">
                </a>
                <a href="javascript:void(0)" class="partners__wrapper-item">
                    <img src="../img/partners/partner6.png" alt="partner">
                </a>
                <a href="javascript:void(0)" class="partners__wrapper-item">
                    <img src="../img/partners/partner7.png" alt="partner">
                </a>
                <a href="javascript:void(0)" class="partners__wrapper-item">
                    <img src="../img/partners/partner8.png" alt="partner">
                </a>
                <a href="javascript:void(0)" class="partners__wrapper-item">
                    <img src="../img/partners/partner9.png" alt="partner">
                </a>
                <a href="javascript:void(0)" class="partners__wrapper-item">
                    <img src="../img/partners/partner10.png" alt="partner">
                </a>
                <a href="javascript:void(0)" class="partners__wrapper-item">
                    <img src="../img/partners/partner11.png" alt="partner">
                </a>
                <a href="javascript:void(0)" class="partners__wrapper-item">
                    <img src="../img/partners/partner12.png" alt="partner">
                </a>
                <a href="javascript:void(0)" class="partners__wrapper-item">
                    <img src="../img/partners/partner13.png" alt="partner">
                </a>
                <a href="javascript:void(0)" class="partners__wrapper-item">
                    <img src="../img/partners/partner14.png" alt="partner">
                </a>
                <a href="javascript:void(0)" class="partners__wrapper-item">
                    <img src="../img/partners/partner15.png" alt="partner">
                </a>
                <a href="javascript:void(0)" class="partners__wrapper-item">
                    <img src="../img/partners/partner16.png" alt="partner">
                </a>
            </div>
            <a href="javascript:void(0)" class="link goTo">Просмотреть все</a>
        </div>
    </section>

    <section class="partnersInfo">
        <div class="container">
            <div class="partnersInfo__wrapper">
                <div class="partnersInfo__wrapper-img">
                    <img src="../img/partners/parnterInfo.jpg" alt="image">
                </div>
                <div class="partnersInfo__wrapper-text">
                    <h2 class="heading"><span>Наши</span> партнеры</h2>
                    <p>Лицензия на осуществления деятельности по разработке, производству, распространению шифровальных (криптографических) средств, информационных систем и телекоммуникационных систем, защищенных с использованием шифровальных (криптографических)
                        средств, выполнению работ, оказанию услуг в области шифрования информации, техническому обслуживанию шифровальных (криптографических) средств, информационных систем и телекоммуникационных систем, защищенных с использованием шифровальных
                        (криптографических) средств (за исключением случая, если техническое обслуживание шифровальных (криптографических) средств.</p>
                </div>
            </div>
        </div>
    </section>


    <section class="sendInfo">
        <div class="container">
            <div class="sendInfo__wrapper">
                <div class="sendInfo__wrapper-item">
                    <h2 class="heading"><span>Оставьте</span> Ваши контактные данные</h2>

                    <p>Наши специалисты свяжутся с Вами в самое ближайшее время и предоставят необходимые консультации</p>

                    <p class="bold">Пожалуйста, кратко опишите цель обращения в поле "Сообщение"</p>
                </div>
                <div class="sendInfo__wrapper-item">
                    <form onsubmit="return false">
                        <div class="form-input name">
                            <input type="text" placeholder="Имя..." required>
                        </div>
                        <div class="form-input phone">
                            <input type="number" placeholder="Телефон..." required>
                        </div>
                        <div class="form-input mail">
                            <input type="text" placeholder="e-mail..." required>
                        </div>
                        <div class="form-textarea">
                            <textarea name="msg" placeholder="Сообщение..." required></textarea>
                        </div>
                        <button class="sendBtn open-thanksMsg" type="submit">Отправить <i class="icon-icon9"></i> </button>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <section class="map">
        <div class="map__wrapper">
            <div class="map__wrapper-item">
                <h2 class="heading">Контакты</h2>
                <div class="info">
                    <p class="place"><i class="icon-icon7"></i> 125212, г. Москва, Кронштадский бульвар, 9c2</p>
                    <a href="tel:84993481980" class="phone"><i class="icon-icon1"></i>8 (499) 348 19 80,</a>
                    <a href="tel:88003500908"><i class="icon-icon1"></i>8 (800) 350 09 08</a>
                    <a href="mailto:info@lgc-it.ru" class="email"><i class="icon-icon4"></i>info@lgc-it.ru</a>
                    <p class="details">
                        <i class="icon-icon2"></i> Наши реквизиты
                        <a href="../docs/Details_Card.pdf" class="view" target="_blank"><i class="icon-icon5"></i></a>
                        <a href="../docs/Details_Card.docx" class="download" target="_blank"><i class="icon-icon6"></i></a>
                    </p>
                </div>
            </div>
            <div class="map__wrapper-item">
                <div id="map" data-coord="[55.743739, 37.625751]"></div>
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="footer__copyright">
            <div class="container">
                <a target="_blank" href="http://plemyastudio.ru"><i>©</i> Все права защищены, 2019. Разработка "Студия Племя".</a>
            </div>
        </div>
    </footer>

    <div id="cookie-notice" class="cookie-notice" role="banner">
        <div class="container">
            <div class="cookie-notice__container">
                <div class="cookie-text">
                    <p class="notice-text">
                        Согласие на обработку персональных данных. Продолжая использовать (просматривать, осуществлять действия и т.д.) сайт http://skzi-license.ru (далее – «Сайт») и/или оставляя заявку (ввод имени, номера телефона или... <a href="../docs/Policy_PD.pdf"
                        target="_blank">Узнать подробнее</a>
                    </p>
                </div>
                <div class="cookie-btn">
                    <a href="#" class="accept-cookie btn">ДА</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Popups -->
    <div class="overlay-requestCall overlayPopup">
        <div class="close"></div>
        <div class="requestCall__popup">
            <span class="close-popup closeBtn"></span>
            <p class="requestCall__popup-heading">Заказать звонок</p>
            <p class="requestCall__popup-sub">Оставьте ваши данные и мы вам перезвоним.</p>
            <form onsubmit="return false">
                <div class="form-input name">
                    <input type="text" placeholder="Имя..." required>
                </div>
                <div class="form-input phone">
                    <input type="number" placeholder="Телефон..." required>
                </div>
                <div class="form-textarea">
                    <textarea name="msg" placeholder="Сообщение..." required></textarea>
                </div>
                <button class="sendBtn closeBtn open-thanksMsg" type="submit">Отправить <i class="icon-icon9"></i> </button>
            </form>
        </div>
    </div>


    <div class="overlay-thanksMsg overlayPopup">
        <div class="close"></div>
        <div class="thanksMsg__popup">
            <span class="close-popup closeBtn"></span>
            <p class="thanksMsg__popup-heading">Спасибо за заявку!</p>
            <p class="thanksMsg__popup-sub">Наш менеджер свяжется с Вами в ближайшее время!</p>
        </div>
    </div>

    <script src="../js/jquery.min.js"></script>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=d33059ee-486d-44a1-a852-d096db3618d8"></script>
    <script src="../js/jquery.gray.min.js"></script>

    <script src="../js/script.min.js"></script>
    <script src="../js/clients-and-partners.min.js"></script>
</body>

</html>