<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>ЛоджикалIT</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="16x16" href="../img/logo.png">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/home.css">
</head>

<body>

    <header class="header" id="header">
        <div class="container">
            <div class="header__top">
                <div class="header__top-logo">
                    <a href="index.html" class="img">
                        <img src="../img/logo.png" alt="logotype">
                    </a>
                    <p class="slog">Технологии защиты данных</p>
                </div>
                <div class="header__top-phone">
                    <i class="icon-icon1"></i>
                    <a href="tel:+74993481980">+7 (499) 348-19-80</a>
                </div>
                <a href="javascript:void(0)" class="header__top-btn open-requestCall">Заказать звонок</a>
            </div>
        </div>
        <div class="header__bottom">
            <div class="header__bottom-menu">
                <!--Mobile menu hamburger-->
                <button class="toggle-menu">
                    <span class="hamburger">
                    <span class="sw-topper"></span>
                    <span class="sw-bottom"></span>
                    <span class="sw-footer"></span>
                    </span>
                </button>
                <!--End mobile menu hamburger-->
                <nav class="mainMenu" id="mainMenu">
                    <ul>
                        <li>
                            <a href="index.html">Главная</a>
                        </li>
                        <li>
                            <a href="services.html">Услуги</a>
                        </li>
                        <li>
                            <a href="clients-and-partners.html">Клиенты и Партнеры</a>
                        </li>
                        <li>
                            <a href="press-releases.html">Пресс-релизы</a>
                        </li>
                        <li>
                            <a href="contacts.html">Контакты</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="header__bottom-search">
                <form class="form-search">
                    <input name="search" class="search-query" type="text" placeholder="Поиск...">
                    <button class="button"><i class="icon-icon12"></i></button>
                </form>
            </div>
        </div>
    </header>



    <section class="banner">
        <div class="container">
            <h1 class="banner__heading">Информационная безопасность</h1>
            <p class="banner__subtitle">Обеспечение информационной безопасности и защиты информации для Вашего бизнеса</p>
        </div>
    </section>

    <section class="aboutUs">
        <div class="container">
            <div class="aboutUs__wrapper">
                <div class="aboutUs__wrapper-item left">
                    <h2 class="heading"><span>О</span> нас</h2>
                    <p class="subInto">Компания Logical IT предлагает наиболее актуальный комплекс услуг в области обеспечения информационной безопасности и защиты информации для Вашего бизнеса. </p>
                    <p class="bold">Наиболее востребованные сервисы:</p>
                    <a href="services.html" class="readMore link">Читать далее</a>
                </div>
                <div class="aboutUs__wrapper-item right">
                    <div class="serviceItem item1">
                        <a href="single-service.html" class="self"></a>
                        <span class="number">01</span>
                        <div class="serviceItem-img">
                            <img src="../img/icons/icon_01.png" alt="icon1">
                        </div>
                        <div class="serviceItem-text">
                            <p>Приведение в соответствие требованиям законо- дательства и регулирующих органов</p>
                        </div>
                    </div>

                    <div class="serviceItem item2">
                        <a href="single-service.html" class="self"></a>
                        <span class="number">02</span>
                        <div class="serviceItem-img">
                            <img src="../img/icons/icon_02.png" alt="icon1">
                        </div>
                        <div class="serviceItem-text">
                            <p>подготовка к лицензированию ФСБ и ФСТЭК</p>
                        </div>
                    </div>

                    <div class="serviceItem item3">
                        <a href="single-service.html" class="self"></a>
                        <span class="number">03</span>
                        <div class="serviceItem-img">
                            <img src="../img/icons/icon_03.png" alt="icon1">
                        </div>
                        <div class="serviceItem-text">
                            <p>разработка комплекта внутренних документов по информационной безопасности</p>
                        </div>
                    </div>

                    <div class="serviceItem item4">
                        <a href="single-service.html" class="self"></a>
                        <span class="number">04</span>
                        <div class="serviceItem-img">
                            <img src="../img/icons/icon_04.png" alt="icon1">
                        </div>
                        <div class="serviceItem-text">
                            <p>аудит информационной инфраструктуры и отдельных объектов на наличие уязвимостей</p>
                        </div>
                    </div>

                    <div class="serviceItem item5">
                        <a href="single-service.html" class="self"></a>
                        <span class="number">05</span>
                        <div class="serviceItem-img">
                            <img src="../img/icons/icon_05.png" alt="icon1">
                        </div>
                        <div class="serviceItem-text">
                            <p>проектирование и внедрение систем защиты информации</p>
                        </div>
                    </div>

                    <div class="serviceItem item6">
                        <a href="single-service.html" class="self"></a>
                        <span class="number">06</span>
                        <div class="serviceItem-img">
                            <img src="../img/icons/icon_06.png" alt="icon1">
                        </div>
                        <div class="serviceItem-text">
                            <p>аттестация объектов информатизации</p>
                        </div>
                    </div>
                </div>
            </div>
            <a href="services.html" class="link goTo">Перейти</a>
        </div>
    </section>

    <section class="ourClients">
        <div class="container">
            <div class="ourClients__slider swiper-container">
                <h2 class="heading"><span>Наши</span> клиенты</h2>
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="javascript:void(0)">
                            <img class="blue" src="../img/clients/blue/derjava.png" alt="derjava">
                            <img class="color" src="../img/clients/color/derjava.png" alt="derjava">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="javascript:void(0)">
                            <img class="blue" src="../img/clients/blue/fleksbank.png" alt="fleksbank">
                            <img class="color" src="../img/clients/color/fleksbank.png" alt="fleksbank">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="javascript:void(0)">
                            <img class="blue" src="../img/clients/blue/ism.png" alt="ism">
                            <img class="color" src="../img/clients/color/ism.png" alt="ism">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="javascript:void(0)">
                            <img class="blue" src="../img/clients/blue/kreditreform.png" alt="kreditreform">
                            <img class="color" src="../img/clients/color/kreditreform.png" alt="kreditreform">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="javascript:void(0)">
                            <img class="blue" src="../img/clients/blue/msp.png" alt="msp">
                            <img class="color" src="../img/clients/color/msp.png" alt="msp">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="javascript:void(0)">
                            <img class="blue" src="../img/clients/blue/mustbank.png" alt="mustbank">
                            <img class="color" src="../img/clients/color/mustbank.png" alt="mustbank">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="javascript:void(0)">
                            <img class="blue" src="../img/clients/blue/mybank.png" alt="mybank">
                            <img class="color" src="../img/clients/color/mybank.png" alt="mybank">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="javascript:void(0)">
                            <img class="blue" src="../img/clients/blue/powersecurity.png" alt="powersecurity">
                            <img class="color" src="../img/clients/color/powersecurity.png" alt="powersecurity">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="javascript:void(0)">
                            <img class="blue" src="../img/clients/blue/rambler.png" alt="rambler">
                            <img class="color" src="../img/clients/color/rambler.png" alt="rambler">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="javascript:void(0)">
                            <img class="blue" src="../img/clients/blue/rostelecom.png" alt="rostelecom">
                            <img class="color" src="../img/clients/color/rostelecom.png" alt="rostelecom">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="javascript:void(0)">
                            <img class="blue" src="../img/clients/blue/Seendex.png" alt="Seendex">
                            <img class="color" src="../img/clients/color/Seendex.png" alt="Seendex">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="javascript:void(0)">
                            <img class="blue" src="../img/clients/blue/rambler.png" alt="rambler">
                            <img class="color" src="../img/clients/color/rambler.png" alt="rambler">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="javascript:void(0)">
                            <img class="blue" src="../img/clients/blue/rambler.png" alt="rambler">
                            <img class="color" src="../img/clients/color/rambler.png" alt="rambler">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="javascript:void(0)">
                            <img class="blue" src="../img/clients/blue/rostelecom.png" alt="rostelecom">
                            <img class="color" src="../img/clients/color/rostelecom.png" alt="rostelecom">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="javascript:void(0)">
                            <img class="blue" src="../img/clients/blue/Seendex.png" alt="Seendex">
                            <img class="color" src="../img/clients/color/Seendex.png" alt="Seendex">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="javascript:void(0)">
                            <img class="blue" src="../img/clients/blue/rambler.png" alt="rambler">
                            <img class="color" src="../img/clients/color/rambler.png" alt="rambler">
                        </a>
                    </div>
                </div>
                <!-- Add Arrows -->
                <div class="button-next slider-buttons">
                    <i class="icon-icon8"></i>
                </div>
                <div class="button-prev slider-buttons">
                    <i class="icon-icon3"></i>
                </div>
            </div>
            <a href="clients-and-partners.html#clients" class="link goTo">Перейти</a>
        </div>
    </section>

    <section class="sendInfo">
        <div class="container">
            <div class="sendInfo__wrapper">
                <div class="sendInfo__wrapper-item">
                    <h2 class="heading"><span>Оставьте</span> Ваши контактные данные</h2>

                    <p>Наши специалисты свяжутся с Вами в самое ближайшее время и предоставят необходимые консультации</p>

                    <p class="bold">Пожалуйста, кратко опишите цель обращения в поле "Сообщение"</p>
                </div>
                <div class="sendInfo__wrapper-item">
                    <form onsubmit="return false">
                        <div class="form-input name">
                            <input type="text" placeholder="Имя..." required>
                        </div>
                        <div class="form-input phone">
                            <input type="number" placeholder="Телефон..." required>
                        </div>
                        <div class="form-input mail">
                            <input type="text" placeholder="e-mail..." required>
                        </div>
                        <div class="form-textarea">
                            <textarea name="msg" placeholder="Сообщение..." required></textarea>
                        </div>
                        <button class="sendBtn open-thanksMsg" type="submit">Отправить <i class="icon-icon9"></i> </button>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <section class="map">
        <div class="map__wrapper">
            <div class="map__wrapper-item">
                <h2 class="heading">Контакты</h2>
                <div class="info">
                    <p class="place"><i class="icon-icon7"></i> 125212, г. Москва, Кронштадский бульвар, 9c2</p>
                    <a href="tel:84993481980" class="phone"><i class="icon-icon1"></i>8 (499) 348 19 80,</a>
                    <a href="tel:88003500908"><i class="icon-icon1"></i>8 (800) 350 09 08</a>
                    <a href="mailto:info@lgc-it.ru" class="email"><i class="icon-icon4"></i>info@lgc-it.ru</a>
                    <p class="details">
                        <i class="icon-icon2"></i> Наши реквизиты
                        <a href="../docs/Details_Card.pdf" class="view" target="_blank"><i class="icon-icon5"></i></a>
                        <a href="../docs/Details_Card.docx" class="download" target="_blank"><i class="icon-icon6"></i></a>
                    </p>
                </div>
            </div>
            <div class="map__wrapper-item">
                <div id="map" data-coord="[55.743739, 37.625751]"></div>
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="footer__copyright">
            <div class="container">
                <a target="_blank" href="http://plemyastudio.ru"><i>©</i> Все права защищены, 2019. Разработка "Студия Племя".</a>
            </div>
        </div>
    </footer>

    <div id="cookie-notice" class="cookie-notice" role="banner">
        <div class="container">
            <div class="cookie-notice__container">
                <div class="cookie-text">
                    <p class="notice-text">
                        Согласие на обработку персональных данных. Продолжая использовать (просматривать, осуществлять действия и т.д.) сайт http://skzi-license.ru (далее – «Сайт») и/или оставляя заявку (ввод имени, номера телефона или... <a href="../docs/Policy_PD.pdf"
                        target="_blank">Узнать подробнее</a>
                    </p>
                </div>
                <div class="cookie-btn">
                    <a href="#" class="accept-cookie btn">ДА</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Popups -->
    <div class="overlay-requestCall overlayPopup">
        <div class="close"></div>
        <div class="requestCall__popup">
            <span class="close-popup closeBtn"></span>
            <p class="requestCall__popup-heading">Заказать звонок</p>
            <p class="requestCall__popup-sub">Оставьте ваши данные и мы вам перезвоним.</p>
            <form onsubmit="return false">
                <div class="form-input name">
                    <input type="text" placeholder="Имя..." required>
                </div>
                <div class="form-input phone">
                    <input type="number" placeholder="Телефон..." required>
                </div>
                <div class="form-textarea">
                    <textarea name="msg" placeholder="Сообщение..." required></textarea>
                </div>
                <button class="sendBtn closeBtn open-thanksMsg" type="submit">Отправить <i class="icon-icon9"></i> </button>
            </form>
        </div>
    </div>


    <div class="overlay-thanksMsg overlayPopup">
        <div class="close"></div>
        <div class="thanksMsg__popup">
            <span class="close-popup closeBtn"></span>
            <p class="thanksMsg__popup-heading">Спасибо за заявку!</p>
            <p class="thanksMsg__popup-sub">Наш менеджер свяжется с Вами в ближайшее время!</p>
        </div>
    </div>

    <script src="../js/jquery.min.js"></script>
    <script src="../js/swiper.min.js"></script>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=d33059ee-486d-44a1-a852-d096db3618d8"></script>

    <script src="../js/script.min.js"></script>
    <script src="../js/home.min.js"></script>
</body>

</html>