<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Услуги</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="16x16" href="../img/logo.png">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/services.css">
</head>

<body>

    <!-- build:section layout.header-->
    <!-- /build -->

    <section class="banner">
        <div class="container">
            <div class="bread-crumbs">
                <ul>
                    <li><a href="index.html">Главная</a></li>
                    <li><span>Услуги</span></li>
                </ul>
            </div>
            <h1 class="banner__heading">Виды <br>
                наших услуг</h1>
            <p class="banner__subtitle">Мы предлагаем Вам лучшие услуги </p>
        </div>
    </section>

    <div class="services">
        <div class="container">
            <div class="services__wrapper">

                <div class="services__wrapper-item item1">
                    <a href="single-service.html" class="link"></a>
                    <span class="number">01</span>
                    <div class="img">
                        <img src="../img/services/ico1.png" alt="icon1">
                    </div>
                    <div class="text">
                        <p>Аутсорсинг и техническая поддержка ИБ</p>
                    </div>
                </div>

                <div class="services__wrapper-item item2">
                    <a href="single-service.html" class="link"></a>
                    <span class="number">02</span>
                    <div class="img">
                        <img src="../img/services/ico2.png" alt="icon">
                    </div>
                    <div class="text">
                        <p>Служба технической поддержки</p>
                    </div>
                </div>

                <div class="services__wrapper-item item3">
                    <a href="single-service.html" class="link"></a>
                    <span class="number">03</span>
                    <div class="img">
                        <img src="../img/services/ico3.png" alt="icon">
                    </div>
                    <div class="text">
                        <p>Администрирование системы защиты информации
                        </p>
                    </div>
                </div>

                <div class="services__wrapper-item item4">
                    <a href="single-service.html" class="link"></a>
                    <span class="number">04</span>
                    <div class="img">
                        <img src="../img/services/ico4.png" alt="icon">
                    </div>
                    <div class="text">
                        <p>Консультационная поддержка</p>
                    </div>
                </div>

                <div class="services__wrapper-item item5">
                    <a href="single-service.html" class="link"></a>
                    <span class="number">05</span>
                    <div class="img">
                        <img src="../img/services/ico5.png" alt="icon">
                    </div>
                    <div class="text">
                        <p>Комплексная поддержка направления 152-ФЗ</p>
                    </div>
                </div>

                <div class="services__wrapper-item item6">
                    <a href="single-service.html" class="link"></a>
                    <span class="number">06</span>
                    <div class="img">
                        <img src="../img/services/ico6.png" alt="icon">
                    </div>
                    <div class="text">
                        <p>Соответствие 152-ФЗ
                        </p>
                    </div>
                </div>

                <div class="services__wrapper-item item7">
                    <a href="single-service.html" class="link"></a>
                    <span class="number">07</span>
                    <div class="img">
                        <img src="../img/services/ico7.png" alt="icon">
                    </div>
                    <div class="text">
                        <p>Аудит соответствия 152-ФЗ
                        </p>
                    </div>
                </div>

                <div class="services__wrapper-item item8">
                    <a href="single-service.html" class="link"></a>
                    <span class="number">08</span>
                    <div class="img">
                        <img src="../img/services/ico8.png" alt="icon">
                    </div>
                    <div class="text">
                        <p>Аудит соответствия GDPR
                        </p>
                    </div>
                </div>

                <div class="services__wrapper-item item9">
                    <a href="single-service.html" class="link"></a>
                    <span class="number">09</span>
                    <div class="img">
                        <img src="../img/services/ico9.png" alt="icon">
                    </div>
                    <div class="text">
                        <p>Разработка внутренней документации</p>
                    </div>
                </div>

                <div class="services__wrapper-item item10">
                    <a href="single-service.html" class="link"></a>
                    <span class="number">10</span>
                    <div class="img">
                        <img src="../img/services/ico10.png" alt="icon">
                    </div>
                    <div class="text">
                        <p>Защита ИСПДн - 17 и 21 Приказ ФСТЭК
                        </p>
                    </div>
                </div>

                <div class="services__wrapper-item item11">
                    <a href="single-service.html" class="link"></a>
                    <span class="number">11</span>
                    <div class="img">
                        <img src="../img/services/ico11.png" alt="icon">
                    </div>
                    <div class="text">
                        <p>Размещение ИСПДн в защищенном ЦОД
                        </p>
                    </div>
                </div>

                <div class="services__wrapper-item item12">
                    <a href="single-service.html" class="link"></a>
                    <span class="number">12</span>
                    <div class="img">
                        <img src="../img/services/ico12.png" alt="icon">
                    </div>
                    <div class="text">
                        <p>Полное поручение ИСПДн
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="services style2">
        <div class="container">
            <div class="services__wrapper">

                <div class="services__wrapper-item item13">
                    <a href="single-service.html" class="link"></a>
                    <span class="number">13</span>
                    <div class="img">
                        <img src="../img/services/ico13.png" alt="icon1">
                    </div>
                    <div class="text">
                        <p>Локализация БД ПДн (242-ФЗ)</p>
                    </div>
                </div>

                <div class="services__wrapper-item item14">
                    <a href="single-service.html" class="link"></a>
                    <span class="number">14</span>
                    <div class="img">
                        <img src="../img/services/ico14.png" alt="icon">
                    </div>
                    <div class="text">
                        <p>Проектирование системы защиты информации
                        </p>
                    </div>
                </div>

                <div class="services__wrapper-item item15">
                    <a href="single-service.html" class="link"></a>
                    <span class="number">15</span>
                    <div class="img">
                        <img src="../img/services/ico15.png" alt="icon">
                    </div>
                    <div class="text">
                        <p>Разработка Модели угроз и нарушителя
                        </p>
                    </div>
                </div>

                <div class="services__wrapper-item item16">
                    <a href="single-service.html" class="link"></a>
                    <span class="number">16</span>
                    <div class="img">
                        <img src="../img/services/ico16.png" alt="icon">
                    </div>
                    <div class="text">
                        <p>Проектирование системы защиты информации</p>
                    </div>
                </div>

                <div class="services__wrapper-item item17">
                    <a href="single-service.html" class="link"></a>
                    <span class="number">17</span>
                    <div class="img">
                        <img src="../img/services/ico17.png" alt="icon">
                    </div>
                    <div class="text">
                        <p>Разработка проектной документации (МУ, ТЗ, ТП)</p>
                    </div>
                </div>

                <div class="services__wrapper-item item18">
                    <a href="single-service.html" class="link"></a>
                    <span class="number">18</span>
                    <div class="img">
                        <img src="../img/services/ico18.png" alt="icon">
                    </div>
                    <div class="text">
                        <p>Внедрение систем защиты информации
                        </p>
                    </div>
                </div>

                <div class="services__wrapper-item item19">
                    <a href="single-service.html" class="link"></a>
                    <span class="number">19</span>
                    <div class="img">
                        <img src="../img/services/ico19.png" alt="icon">
                    </div>
                    <div class="text">
                        <p>Установка и настройка средств защиты (ИС)
                        </p>
                    </div>
                </div>

                <div class="services__wrapper-item item20">
                    <a href="single-service.html" class="link"></a>
                    <span class="number">20</span>
                    <div class="img">
                        <img src="../img/services/ico20.png" alt="icon">
                    </div>
                    <div class="text">
                        <p>Монтаж и конфигурирование средств защиты (техн. каналы)</p>
                    </div>
                </div>

                <div class="services__wrapper-item item21">
                    <a href="single-service.html" class="link"></a>
                    <span class="number">21</span>
                    <div class="img">
                        <img src="../img/services/ico21.png" alt="icon">
                    </div>
                    <div class="text">
                        <p>Установка и настройка СКЗИ</p>
                    </div>
                </div>

                <div class="services__wrapper-item item22">
                    <a href="single-service.html" class="link"></a>
                    <span class="number">22</span>
                    <div class="img">
                        <img src="../img/services/ico22.png" alt="icon">
                    </div>
                    <div class="text">
                        <p>Аттестация объектов информатизации (ФСТЭК)
                        </p>
                    </div>
                </div>

                <div class="services__wrapper-item item23">
                    <a href="single-service.html" class="link"></a>
                    <span class="number">23</span>
                    <div class="img">
                        <img src="../img/services/ico23.png" alt="icon">
                    </div>
                    <div class="text">
                        <p>Аттестация автоматизированных систем
                        </p>
                    </div>
                </div>

                <div class="services__wrapper-item item24">
                    <a href="single-service.html" class="link"></a>
                    <span class="number">24</span>
                    <div class="img">
                        <img src="../img/services/ico24.png" alt="icon">
                    </div>
                    <div class="text">
                        <p>Аттестация ИСПДн (17 и 21 Приказ ФСТЭК)</p>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="services">
        <div class="container">
            <div class="services__wrapper">

                <div class="services__wrapper-item item25">
                    <a href="single-service.html" class="link"></a>
                    <span class="number">25</span>
                    <div class="img">
                        <img src="../img/services/ico25.png" alt="icon1">
                    </div>
                    <div class="text">
                        <p>Аттестация защищаемых помещений</p>
                    </div>
                </div>

                <div class="services__wrapper-item item26">
                    <a href="single-service.html" class="link"></a>
                    <span class="number">26</span>
                    <div class="img">
                        <img src="../img/services/ico26.png" alt="icon">
                    </div>
                    <div class="text">
                        <p>Аудит и анализ защищенности
                        </p>
                    </div>
                </div>

                <div class="services__wrapper-item item27">
                    <a href="single-service.html" class="link"></a>
                    <span class="number">27</span>
                    <div class="img">
                        <img src="../img/services/ico27.png" alt="icon">
                    </div>
                    <div class="text">
                        <p>Аудит ИБ комплексный
                        </p>
                    </div>
                </div>

                <div class="services__wrapper-item item28">
                    <a href="single-service.html" class="link"></a>
                    <span class="number">28</span>
                    <div class="img">
                        <img src="../img/services/ico28.png" alt="icon">
                    </div>
                    <div class="text">
                        <p>Аудит соответствия ISO27001</p>
                    </div>
                </div>

                <div class="services__wrapper-item item29">
                    <a href="single-service.html" class="link"></a>
                    <span class="number">29</span>
                    <div class="img">
                        <img src="../img/services/ico29.png" alt="icon">
                    </div>
                    <div class="text">
                        <p>Аудит соответствия 382-П</p>
                    </div>
                </div>

                <div class="services__wrapper-item item30">
                    <a href="single-service.html" class="link"></a>
                    <span class="number">30</span>
                    <div class="img">
                        <img src="../img/services/ico30.png" alt="icon">
                    </div>
                    <div class="text">
                        <p>Аудит соответствия СТО БР
                        </p>
                    </div>
                </div>

                <div class="services__wrapper-item item31">
                    <a href="single-service.html" class="link"></a>
                    <span class="number">31</span>
                    <div class="img">
                        <img src="../img/services/ico31.png" alt="icon">
                    </div>
                    <div class="text">
                        <p>Коммерческая тайна
                        </p>
                    </div>
                </div>

                <div class="services__wrapper-item item32">
                    <a href="single-service.html" class="link"></a>
                    <span class="number">32</span>
                    <div class="img">
                        <img src="../img/services/ico32.png" alt="icon">
                    </div>
                    <div class="text">
                        <p>Внедрение режима защиты КТ</p>
                    </div>
                </div>

                <div class="services__wrapper-item item33">
                    <a href="single-service.html" class="link"></a>
                    <span class="number">33</span>
                    <div class="img">
                        <img src="../img/services/ico33.png" alt="icon">
                    </div>
                    <div class="text">
                        <p>Разработка внутренней документации</p>
                    </div>
                </div>

                <div class="services__wrapper-item item34">
                    <a href="single-service.html" class="link"></a>
                    <span class="number">34</span>
                    <div class="img">
                        <img src="../img/services/ico34.png" alt="icon">
                    </div>
                    <div class="text">
                        <p>Подготовка к лицензированию
                        </p>
                    </div>
                </div>

                <div class="services__wrapper-item item35">
                    <a href="single-service.html" class="link"></a>
                    <span class="number">35</span>
                    <div class="img">
                        <img src="../img/services/ico35.png" alt="icon">
                    </div>
                    <div class="text">
                        <p>Подготовка к лицензированию ФСБ - СКЗИ
                        </p>
                    </div>
                </div>

                <div class="services__wrapper-item item36">
                    <a href="single-service.html" class="link"></a>
                    <span class="number">36</span>
                    <div class="img">
                        <img src="../img/services/ico36.png" alt="icon">
                    </div>
                    <div class="text">
                        <p>Подготовка к лицензированию ФСТЭК - ТЗКИ, СКЗИ</p>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- build:section layout.form_section-->
    <!-- /build -->

    <!-- build:section layout.map_section-->
    <!-- /build -->

    <!-- build:section layout.footer-->
    <!-- /build -->

    <script src="../js/jquery.min.js"></script>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=d33059ee-486d-44a1-a852-d096db3618d8"></script>

    <script src="../js/script.min.js"></script>
</body>

</html>