<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Подготовка к ленцензированию ФСБ и ФСТЭК</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="16x16" href="../img/logo.png">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/single-service.css">
</head>

<body>

    <!-- build:section layout.header-->
    <!-- /build -->

    <section class="banner">
        <div class="container">
            <div class="bread-crumbs">
                <ul>
                    <li><a href="index.html">Главная</a></li>
                    <li><a href="services.html">Услуги</a></li>
                    <li><span>Подготовка к ленцензированию ФСБ и ФСТЭК</span></li>
                </ul>
            </div>
            <h1 class="banner__heading">Подготовка к ленцензированию ФСБ и ФСТЭК</h1>
            <p class="banner__subtitle">Если деятельность вашей организации связана с использованием средств шифрования (криптографической защиты), вы обязаны получить лицензию ФСБ на соответствующие виды деятельности.</p>
        </div>
    </section>

    <section class="services">
        <div class="container">
            <div class="services__item">
                <div class="services__item-heading">
                    <h2 class="heading">
                    <span>О каких видах</span> деятельности идёт речь?
                </h2>
                    <p class="number">01</p>
                </div>
                <div class="services__item-body">
                    <p>Это оказание услуг по криптографической защите информации, разработка и производство средств криптографической защиты, их поставка и распространение, а также монтаж, ремонт, обслуживание и прочие сервисные работы.</p>
                </div>
            </div>

            <div class="services__item">
                <div class="services__item-heading">
                    <h2 class="heading">
                    <span class="block">Как регулируется данный вопрос </span>
                        на законодательном уровне?
                </h2>
                    <p class="number">02</p>
                </div>
                <div class="services__item-body">
                    <p>В соответствии с Постановлением Правительства РФ №313 от 16.04.12 и №99-ФЗ «О лицензировании отдельных видов деятельности» требуется выполнить условия лицензирующего органа. В данном случае в роли такого органа выступает Федеральная
                        Служба Безопасности.</p>
                </div>
            </div>

            <div class="services__item">
                <div class="services__item-heading">
                    <h2 class="heading">
                    <span>Как проходят работы</span> по получению лицензии ФСБ?
                </h2>
                    <p class="number">03</p>
                </div>
                <div class="services__item-body">
                    <p>Мы предлагаем полный комплекс услуг «под ключ» от консалтинга об оптимальном пути выполнения требований до непосредственно получения соответствующей лицензии.</p>
                </div>
            </div>

            <div class="services__item">
                <div class="services__item-heading">
                    <h2 class="heading">
                    <span>Для чего требуется</span> лицензии ФСТЭК?
                </h2>
                    <p class="number">04</p>
                </div>
                <div class="services__item-body">
                    <p>Если вы осуществляете деятельность по технической защите конфиденциальной информации (оказываете соответствующие услуги), разработке и производству средств защиты информации, Вам необходимы лицензии ФСТЭК России.</p>
                </div>
            </div>

            <div class="services__item">
                <div class="services__item-heading">
                    <h2 class="heading">
                    <span>Каковы основные</span> шаги получения лицензий?
                </h2>
                    <p class="number">05</p>
                </div>
                <div class="services__item-body">
                    <div class="list">
                        <div class="list__row">
                            <div class="list__row-number">
                                <span>01</span>
                            </div>
                            <div class="list__row-text">
                                <p>На первом этапе определяется перечень лицензируемых видов деятельности, наиболее сооветствующий вашим задачам.</p>
                            </div>
                        </div>
                        <div class="list__row">
                            <div class="list__row-number">
                                <span>02</span>
                            </div>
                            <div class="list__row-text">
                                <p>Проводится оценка соответствия лицензионным требованиям ФСТЭК и ФСБ.</p>
                            </div>
                        </div>
                        <div class="list__row">
                            <div class="list__row-number">
                                <span>03</span>
                            </div>
                            <div class="list__row-text">
                                <p>Формируется отчёт с мотивированным заключением, в котором формулируется перечень выявленных несоответствий.
                                </p>
                            </div>
                        </div>
                        <div class="list__row">
                            <div class="list__row-number">
                                <span>04</span>
                            </div>
                            <div class="list__row-text">
                                <p>Выполняется комплексный консалтинг по вопросам наиболее эффективного устранения несоответствий, а также далее — подготовке необходимого комплекта документации, касающейся деятельности, подлежащей лицензированию.</p>
                            </div>
                        </div>
                        <div class="list__row">
                            <div class="list__row-number">
                                <span>05</span>
                            </div>
                            <div class="list__row-text">
                                <p>При необходимости разрабатываются проекты необходимых документов.</p>
                            </div>
                        </div>
                        <div class="list__row">
                            <div class="list__row-number">
                                <span>06</span>
                            </div>
                            <div class="list__row-text">
                                <p>Выполняется консультирование по вопросам получения лицензии в сферах подбора персоналов, изменения бизнес-процессов, внедрения мер физической безопасности, проведения аттестации объектов информатизации, подготовке материалов,
                                    включая все сопроводительные письма и ответы на запросы контролирующих и лицензирующих органов.</p>
                            </div>
                        </div>
                        <div class="list__row">
                            <div class="list__row-number">
                                <span>07</span>
                            </div>
                            <div class="list__row-text">
                                <p>Курирования силами наших экспертов процесса лицензирования вплоть до момента выдачи бланков лицензий.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <p>
                Результат нашей работы — получение лицензии в рациональные сроки путём реализации необходимых шагов, наиболее экономически и практически-обоснованно ведущих к достижению цели.
            </p>
        </div>
    </section>



    <!-- build:section layout.form_section-->
    <!-- /build -->

    <!-- build:section layout.map_section-->
    <!-- /build -->

    <!-- build:section layout.footer-->
    <!-- /build -->

    <script src="../js/jquery.min.js"></script>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=d33059ee-486d-44a1-a852-d096db3618d8"></script>

    <script src="../js/script.min.js"></script>
</body>

</html>