<section class="sendInfo">
    <div class="container">
        <div class="sendInfo__wrapper">
            <div class="sendInfo__wrapper-item">
                <h2 class="heading"><span>Оставьте</span> Ваши контактные данные</h2>
        
                <p>Наши специалисты свяжутся с Вами в самое ближайшее время и предоставят необходимые консультации</p>
    
                <p class="bold">Пожалуйста, кратко опишите цель обращения в поле "Сообщение"</p>
            </div>
            <div class="sendInfo__wrapper-item">
                <form onsubmit="return false">
                    <div class="form-input name">
                        <input type="text" placeholder="Имя..." required> 
                    </div>
                    <div class="form-input phone">
                        <input type="number" placeholder="Телефон..." required> 
                    </div>
                    <div class="form-input mail">
                        <input type="text" placeholder="e-mail..." required>
                    </div>
                    <div class="form-textarea">
                        <textarea name="msg" placeholder="Сообщение..." required></textarea>
                    </div>
                    <button class="sendBtn open-thanksMsg" type="submit">Отправить <i class="icon-icon9"></i> </button>
                </form>
            </div>
        </div>
    </div>
</section>