<header class="header" id="header">
    <div class="container">
        <div class="header__top">
            <div class="header__top-logo">
                <a href="index.html" class="img">
                    <img src="../img/logo.png" alt="logotype">
                </a>
                <p class="slog">Технологии защиты данных</p>
            </div>
            <div class="header__top-phone">
                <i class="icon-icon1"></i>
                <a href="tel:+74993481980">+7 (499) 348-19-80</a>
            </div>
            <a href="javascript:void(0)" class="header__top-btn open-requestCall">Заказать звонок</a>
        </div>
    </div>
    <div class="header__bottom">
        <div class="header__bottom-menu">
            <!--Mobile menu hamburger-->
            <button class="toggle-menu">
                <span class="hamburger">
                    <span class="sw-topper"></span>
                    <span class="sw-bottom"></span>
                    <span class="sw-footer"></span>
                </span>
            </button> 
            <!--End mobile menu hamburger-->
            <nav class="mainMenu" id="mainMenu">
                <ul>
                    <li>
                        <a href="index.html">Главная</a>
                    </li>
                    <li>
                        <a href="services.html">Услуги</a>
                    </li>
                    <li>
                        <a href="clients-and-partners.html">Клиенты и Партнеры</a>
                    </li>
                    <li>
                        <a href="press-releases.html">Пресс-релизы</a>
                    </li>
                    <li>
                        <a href="contacts.html">Контакты</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="header__bottom-search">
            <form class="form-search">
                <input name="search" class="search-query" type="text" placeholder="Поиск...">
                <button class="button"><i class="icon-icon12"></i></button>
            </form>
        </div>
    </div>
</header>