<section class="map">
    <div class="map__wrapper">
        <div class="map__wrapper-item">
            <h2 class="heading">Контакты</h2>
            <div class="info">
                <p class="place"><i class="icon-icon7"></i> 125212, г. Москва, Кронштадский бульвар, 9c2</p>
                <a href="tel:84993481980" class="phone"><i class="icon-icon1"></i>8 (499) 348 19 80,</a>
                <a href="tel:88003500908"><i class="icon-icon1"></i>8 (800) 350 09 08</a>
                <a href="mailto:info@lgc-it.ru" class="email"><i class="icon-icon4"></i>info@lgc-it.ru</a>
                <p class="details">
                    <i class="icon-icon2"></i>
                    Наши реквизиты
                    <a href="../docs/Details_Card.pdf" class="view" target="_blank"><i class="icon-icon5"></i></a>
                    <a href="../docs/Details_Card.docx" class="download"target="_blank"><i class="icon-icon6"></i></a>
                </p>
            </div>
        </div>
        <div class="map__wrapper-item">
            <div id="map" data-coord="[55.743739, 37.625751]"></div>
        </div>
    </div>
</section>